<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="device-width, initial-scale=1" />
    <title>@ViewData["Title"] - ND.website</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min">
    <link rel="stylesheet" href="../css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
</head>

<body>
    <header class="container-fluid">
        <nav class="navbar navbar-expand shadow">
            <a class="navbar-brand" href="/Index">
                <img src="../images/nordicdoor.png" alt="Logo" class="ndimg" />
            </a>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">Forslag</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" asp-area="" asp-page="/Statistics">Statistikk</a>
                </li>
                <li class="nav-item">
                    <a class="setbrand" data-toggle="modal" data-target="#MyModal">
                        <div class="settingsbtn material-icons">settings</div>
                    </a>
                </li>
            </ul>
        </nav>
    </header>


    <main role="main" class="container-fluid">
        @RenderBody()

        <div class="modal" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="MyModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="MyModalLabel">Instillinger</h4>
                        <button type="button" class="modalx close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5>
                            <a asp-page="/Account/Index">Rediger brukere</a>
                        </h5>
                        <h5>
                            <a asp-page="/Admin/Roles">Opprett rolle</a>
                        </h5>
                        <h5>
                            <a asp-page="/Admin/AssignRoles">Administrer rolle</a>
                        </h5>
                        <h5>
                            <partial name="_LoginPartial" />
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <a href="/Suggestions/Create" class="material-icons floating-btn">add</a>
    </main>

    <footer class="container-fluid border-top text-muted">
        &copy; 2022 - Nordic Door Website - <a asp-page="/Privacy">Privacy</a>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>