@page
@model SuggestionModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Nytt forslag";
}

<h1>Opprett et forslag</h1>

<div class="form">
    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="text" asp-for="suggestion.title" placeholder="Tittel">
        <input type="text" asp-for="suggestion.description" placeholder="Beskrivelse">
        <input type="datetime-local" asp-for="suggestion.timestamp" placeholder="Tid opprettet">
        <br>
        <input type="number" asp-for="suggestion.case_num" placeholder="Saksnummer">
        <input type="text" asp-for="suggestion.pdsa_plan" placeholder="Plan">
        <input type="text" asp-for="suggestion.pdsa_do" placeholder="Do">
        <input type="text" asp-for="suggestion.pdsa_study" placeholder="Study">
        <input type="text" asp-for="suggestion.pdsa_act" placeholder="Act">
        <input type="text" asp-for="suggestion.status" placeholder="Status">
        <input type="text" asp-for="suggestion.responsible" placeholder="Anvarlig">
        <input type="text" asp-for="suggestion.resdept" placeholder="Ansvarig avdeling">
        <input type="file" asp-for="suggestion.pic_before" placeholder="Bilde før">
        <input type="file" asp-for="suggestion.pic_after" placeholder="Bilde etter">
        <input type="text" asp-for="suggestion.timeframe" placeholder="Tidsramme">
        <input type="date" asp-for="suggestion.deadline" placeholder="Tidsfrist">
        <button type="submit" value="submit">Opprett</button>
    </form>


</div>