@page
@model rds_test.Pages.Admin.EditModel
@{
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<head>
    <link rel="stylesheet" href="../css/site.css">
</head>

<h1>Rediger ansatt</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ApplicationUser.emp_num" />
            <div class="form-group">
                <label asp-for="ApplicationUser.name" class="control-label"></label>
                <input asp-for="ApplicationUser.name" class="form-control" />
                <span asp-validation-for="ApplicationUser.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUser.PasswordHash" class="control-label">Passordkode</label>
                <input asp-for="ApplicationUser.PasswordHash" class="form-control" />
                <span asp-validation-for="ApplicationUser.PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUser.team" class="control-label"></label>
                <select asp-for="ApplicationUser.team" class="form-control" asp-items="ViewBag.team"></select>
                <span asp-validation-for="ApplicationUser.team" class="text-danger"></span>
            </div>
        </form>
        <div class="row">
            <div class="form-group">
                <input type="submit" value="Lagre" class="btn btn-primary" />
                <a asp-page="./Register">Tilbake</a>
            </div>
        </div>
    </div>
</div>




@section Scripts {
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
