@page
@model SuggestionModel
@{
    ViewData["Title"] = "Nytt forslag";
}

<h1>Opprett et forslag</h1>

<div class="form">
    <form method="post">
        <input type="text" asp-for="suggestion.title" placeholder="Saksummer">
        <input type="text" asp-for="suggestion.description" placeholder="Tittel">
        <input type="text" asp-for="suggestion.timestamp" placeholder="Beskrivelse">
        <br>
        <button type="submit">Opprett</button>
    </form>


</div>