h2 {

    margin-top: 35px;
    left: 10px;

}

button.teambtn {
    color: black;

    margin-top: 70px;
    left: 15px;
}

button.prosessbtn {
    color: black;

    margin-top: 100px;
    left: 15px;
}

div.topnav {
    overflow: hidden;
    background-color: white;
}

div.topnav div.search-container {
    float: left;

}

div.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

div.search-container button {
    cursor: pointer;
    left: 230px;
    top: 14px;
    width: 50px;
    height: 50px;

}

div.topnav {
    float: right;
    margin-top: 8px;
    margin-right: 1px;
    background: white;
    font-size: 17px;
    border: block;

}

div.topnav a,
div.input[type=text],
div.topnav {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 25px;
}

div.input[type=text] {
    border: 5px solid #ccc;
}