.filterbar {
    margin-left: 10px;
    width: 50px;
    position: fixed;
}

h2 {

    font-size: 20px;
    margin-top: 10px;

}

.row {
    margin-left: 10px;
}

button.teambtn {
    color: black;

    margin-top: 10px;

}

button.prosessbtn {
    color: black;

    margin-top: 10px;
    left: 15px;
}

.mainPartSuggestion {
    margin-left: 400px;
    width: 100%;
}

.suggestionRowIndex {
    font-size: 15px;
    color: aqua;
}

.form{
    margin-top: 10px;
}

.fa-search{
    
    top: 40px;
    left: 20px;
    color: #9ca3af;
}

.button
{
    position: absolute;
    color: white;
}
.form-input{

    height: 30px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;   
}