.main.container-fluid {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.filterbar {
    min-height: 100vh;
    border-right: 1px solid;
    border-color:#b9b9b9;
    padding: 20px;
    padding-left: 30px;
}

.col-6 {
    border-right: 1px solid;
    border-color:#b9b9b9;
    margin-right: 20px;
}

.col-3 {
    border-right: 1px solid;
    border-color:#b9b9b9;
    margin-right: 20px;
}


.filterRow {
    margin-top: 15px;
    padding-left: 30px;
}


.btn-src {
    border-radius: 4px;
    border-color: #b9b9b9;
    border-style: solid;

}

.teambtn {
    color: black;
    margin-top: 10px;
    border-radius: 4px;
    border-color:#b9b9b9;
    border-style: solid;

}

.prosessbtn {
    color: black;
    margin-top: 10px;
    border-radius: 4px;
    border-color:#b9b9b9;
    border-style: solid;
}

.suggestionColumn {
    min-height: 100vh;
    background-color: #868FA0;
}

.suggestionLayout {
    width: 90%;
    margin-left: 5vh;
    margin-top: 5vh;
}

.card {
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;
    padding-left: 15px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.card:hover{
    transform: scale(1.01);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}


.form{
    margin-top: 10px;
}


.form-input{
    height: 30px;
    text-indent: 33px;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.form-input:focus{
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06); 
}