.filterbar {
    margin-left: 10px;
    width: 50px;
    position: fixed;
}

h2 {

    font-size: 20px;
    margin-left: 30px;

}

.row {
    margin-left: 10px;
}

button.teambtn {
    color: black;

    margin-top: 70px;

}

button.prosessbtn {
    color: black;

    margin-top: 100px;
    left: 15px;
}

.mainPartSuggestion {
    margin-left: 400px;
    width: 100%;
}

.trSuggestionIndex {
    font-size: 15px;
}

.form{
    margin-top: 10px;
}

.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form-input{

    height: 30px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;   
}