.main.container-fluid {
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }

div.filterbar {
    border-right: 1px solid;
    border-color:#868FA0;
    padding-left: 30px;
}

button.teambtn {
    color: black;

    margin-top: 10px;

}

button.prosessbtn {
    color: black;
    margin-top: 10px;
    left: 15px;
}

.suggestionCulumn {
    margin-top: 30px;
    color: #868FA0;
}

.suggestionLayout {
    width: 90%;
    margin-left: 5%;
}

.suggestionRow {
    cursor: pointer;
    border: 2px solid;
    border-color: blue;
    border-radius: 5px;
    margin-bottom: 30px;
}

.form{
    margin-top: 10px;
}

.fa-search{
    
    top: 40px;
    left: 20px;
    color: #9ca3af;
}

.button
{
    position: absolute;
    color: white;
}
.form-input{

    height: 30px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;   
}