.main.container-fluid {
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }

  body {
    background-color:#F9F8F7;
    min-height: 100vh;
  }

.filterbar {
    border-right: 1px solid;
    border-color:#b9b9b9;
    margin-top: 15px;
    padding-left: 2vh;
}

.filterRow {
    margin-top: 15px;
    padding-left: 5vh;
}


.btn-src {
    border-radius: 4px;
    border-color: #b9b9b9;
    border-style: solid;

}

.teambtn {
    color: black;
    margin-top: 10px;
    border-radius: 4px;
    border-color:#b9b9b9;
    border-style: solid;

}

.prosessbtn {
    color: black;
    margin-top: 10px;
    border-radius: 4px;
    border-color:#b9b9b9;
    border-style: solid;
}

.suggestionCulumn {
    margin-top: 30px;
    color: #868FA0;
}

.suggestionLayout {
    width: 90%;
    margin-left: 5vh;
    margin-top: 5vh;
}

.card {
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;
    padding-left: 15px;  
}

/* .suggestionRow {
    cursor: pointer;
    border: 2px solid;
    border-color: blue;
    border-radius: 5px;
    margin-bottom: 30px;
} */

.form{
    margin-top: 10px;
}

.fa-search{
    color: #9ca3af;
    margin-top: 10px;
    border-radius: 4px;
}


.form-input{

    height: 30px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;   
}