html {
    font-size: 30px;
    color: rgb(47, 43, 43);
  }
  
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  html {
    position: relative;
    min-height: 100%;
  }

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    background-color:#F9F8F7;
    
  }

  footer {
    margin-top: auto;
  }

  img {
    width: 50vh;
    padding: 10px;
  }

  a:link {
    color: black;
    text-decoration: none;
  }

  a:hover {
    color: black;
    text-decoration: none;
  }

  .nav-item {
    color: rgb(47, 43, 43);

  }

  * {
    font-family: sans-serif;
  } 

  
  