html {
    font-size: 30px;
  }
  
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  html {
    position: relative;
    min-height: 100%;
  }

body {
    margin-bottom: 60px;
    background-color:#F9F8F7;
    
  }

  * {
    font-family: sans-serif;
  } 

  footer {
    background-color:#F9F8F7;
  }
