
html {
  color: rgb(47, 43, 43);
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

* {
   font-family: sans-serif;
} 

header {
  position: sticky;
  top: 0;
  z-index: 10;
}

header.container-fluid {
  margin: 0;
  padding: 0;
}

.row {
  margin-left: 5vh;
  margin-right: 5vh;
}

h1 {
  margin: 5vh;
}

h3 {
  margin: 5vh;
}

.btn-primary {
  margin-right: 20px;
}


body {
    background-color:#F9F8F7;
    min-height: 100vh;
  }

  main {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    z-index: 1;
  }
  

main.container-fluid {
  min-height: 85vh;
  margin: 0;
  padding: 0;
}

footer {
    bottom: 0;
    position: static;
}

.detailsRow {
  margin-bottom: 8vh;
}

.card-body {
  /* height: 35px; */
}

.card {
  border-radius: 4px;
}

.ndimg {
  height: auto;
  width: 240px;
  margin-bottom: 15px;
}

nav.navbar {
  background-color: white;
  margin: 0;
}

ul.navbar-nav.ms-auto {
  height: 32px;
}

.settingsbtn.material-icons {
  font-size: 30px;
  color: #868FA0;
  cursor: pointer;
}

a.setbrand {
  padding: 20px;
}


a:link {
  color: rgb(82, 81, 81);
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

a:visited {
  color:rgb(82, 81, 81);
}

.floating-btn.material-icons {
  width: 80px;
  height: 80px;
  /* background: #009879; */
  background: #00be5c;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  font-size: 70px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  position: fixed;
  right: 25px;
  bottom: 25px;
  transition: background 0.25s;
}

.floating-btn:active {
 background: #007D63;
}

.modal {
  overflow-y: auto;
}

.modal-open[style] {
  overflow: auto;
  padding-right: 0px !important;
}

.modal-dialog {
  margin-top: 20px;
  margin-right: 40px;
  max-width: 250px;
  float: right;
}

.modal-header {
  justify-content: start;
  padding-top: 15px;
}

.modalx {
  margin-left: 110px;
}



  
  