@page
@using rds_test.MVC.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link rel="stylesheet" href="../css/site.css" asp-append-version="true" />
</head>

<div class="text-center">
    <h1 class="display-4">Forslag</h1>
    <p>Forslagsside</p>
</div>
