@page
@using rds_test.MVC.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<<<<<<< HEAD
    <p>ASP.NET Core <a href="https://docs.microsoft.com/aspnet/core">her: </a>.</p>
=======
<div class="text-center">
    <h1 class="display-4">Forslag</h1>
    <p></p>
>>>>>>> de3e3873218ae38c5a9810563fbc737bbdc9aa2b
</div>
