@page

<br>
<br>
<h1>Innstillinger</h1>

<h5>
    <a asp-page="/Employees/Index">Rediger brukere</a>
</h5>
<h5>
    <a asp-page="/Account/Index">Identity brukere</a>
</h5>
<h5>
    <a asp-page="/Index">Logg ut</a>
</h5>
