@page
@model rds_test.Pages.StatisticsModel
@{
    ViewData["Title"] = "Statistics";
}

<link rel="stylesheet" href="../css/index.css">

<div class="container-fluid">
    <div class="row">
        <div class="filterbar col-2 pt-5">
            <h4 style="margin-left: 20px">Filtrer</h4>
            <div>
                <div class="filterRow row">
                    <div class="dropdown">
                        <button class="teambtn" type="button" data-toggle="dropdown">Avdeling
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <p>Produksjon</p>
                            </li>
                            <li>
                                <p>Salg og marked</p>
                            </li>
                            <li>
                                <p>Logistikk</p>
                            </li>
                            <li>
                                <p>Ledergruppe</p>
                            </li>
                            <li>
                                <p>Teknisk
                                <p>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="teambtn" type="button" data-toggle="dropdown">Team
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <p>Produksjon</p>
                            </li>
                            <li>
                                <p>Salg og marked</p>
                            </li>
                            <li>
                                <p>Logistikk</p>
                            </li>
                            <li>
                                <p>Ledergruppe</p>
                            </li>
                            <li>
                                <p>Teknisk
                                <p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>





        <div class="suggestionColumn col-md-10 pt-4">

            <div id="chart" class="col-9 align-items-center"></div>

            @section Scripts
            {
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

            <script type="text/javascript">
                google.charts.load('current', { 'packages': ['corechart'] });
                google.charts.setOnLoadCallback(LoadData);

                function LoadData() {
                    $.ajax({
                        url: '/Statistics?handler=ChartData',
                        dataType: "json",
                        type: "GET",
                        success: function (data) {
                            drawChart(data);
                        }
                    });
                }

                function drawChart(statData) {

                    var data = new google.visualization.DataTable(statData);

                    data.addColumn('string', 'Team');
                    data.addColumn('number', 'Antall forslag');

                    for (var i = 0; i < statData.length; i++) {

                        data.addRow([statData[i].teams, statData[i].count]);
                    }

                    var options = {
                        'title': 'Antall forslag per team',
                        'width': 1000,
                        'height': 500,
                        hAxis: {
                            title: 'Teams',
                        },
                        vAxis: {
                            title: 'Forslag'
                        }
                    };

                    var chart = new google.visualization.ColumnChart(document.getElementById('chart'));
                    chart.draw(data, options);
                }
            </script>
            }
        </div>
    </div>
</div>
</div>