@page

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Statistikkside</title>
</head>

<body>

<div class="container-fluid"> 
    <div class="row">
        <div class="col-md-4 pt-5" style="border:1px solid #424242; ">
        
        <input class="form-control mr-sm-2" type="search" placeholder="Søk.." aria-label="Search" id="txtSearch"/>
        
        <h2>Filter Anything</h2>

         <div class="form">
            <i class="fa fa-search"></i>
            <input type="text" class="form-control form-input" placeholder="Search anything...">
        </div>

        <div class="form-check">
                <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="">Option 1
                </label>
            </div>
        
        <div class="form-check">
                <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="">Option 1
                </label>
            </div>
        
        <div class="form-check">
                <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="">Option 1
                </label>
            </div>
        
        <div class="form-check">
                <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="">Option 1
                </label>
            </div>
        


        </div>
         
            

        <div class="col-md-8 pt-4" style="background-color:#868FA0; "> Statistikk
           
            
           

            
            </div>

        
        
        
        
        </div>
    </div>
</div>

</body>

   